@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 105 2% 10%;

    --card: 0 0% 100%;
    --card-foreground: 105 2% 10%;

    --popover: 0 0% 100%;
    --popover-foreground: 105 2% 10%;

    --primary: 105 100% 32%;
    --primary-foreground: 0 0% 100%;

    --secondary: 105 100% 20%;
    --secondary-foreground: 0 0% 100%;

    --muted: 105 33% 96%;
    --muted-foreground: 105 2% 40%;

    --accent: 105 100% 32%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 105 50% 90%;
    --input: 105 50% 90%;
    --ring: 105 100% 32%;

    --radius: 0.5rem;

    --chart-1: 105 100% 32%;
    --chart-2: 105 100% 20%;
    --chart-3: 105 70% 45%;
    --chart-4: 105 60% 35%;
    --chart-5: 105 80% 40%;
  }

  .dark {
    --background: 105 2% 10%;
    --foreground: 0 0% 98%;

    --card: 105 2% 10%;
    --card-foreground: 0 0% 98%;

    --popover: 105 2% 10%;
    --popover-foreground: 0 0% 98%;

    --primary: 105 100% 32%;
    --primary-foreground: 0 0% 100%;

    --secondary: 105 100% 20%;
    --secondary-foreground: 0 0% 100%;

    --muted: 105 5% 20%;
    --muted-foreground: 105 2% 70%;

    --accent: 105 100% 32%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 105 5% 20%;
    --input: 105 5% 20%;
    --ring: 105 100% 32%;

    --chart-1: 105 100% 32%;
    --chart-2: 105 100% 20%;
    --chart-3: 105 70% 45%;
    --chart-4: 105 60% 35%;
    --chart-5: 105 80% 40%;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
